### import libraries

In [17]:
import pandas as pd
import numpy as np
import datetime

In [16]:
# Read in the census dataframe
census = pd.read_csv('census_data.csv', index_col=0)
#checking the data
print(census.head())

  first_name  last_name birth_year  voted  num_children  income_year  \
0     Denise      Ratke       2005  False             0     92129.41
1       Hali  Cummerata       1987  False             0     75649.17
2    Salomon        Orn       1992   True             2    166313.45
3     Sarina   Schiller       1965  False             2     71704.81
4       Gust  Abernathy       1945  False             2    143316.08

       higher_tax marital_status
0        disagree         single
1         neutral       divorced
2           agree         single
3  strongly agree        married
4           agree        married

In [18]:
#checking data types
print(census.dtypes)
# print(census.info())

first_name         object
last_name          object
birth_year         object
voted                bool
num_children        int64
income_year       float64
higher_tax         object
marital_status     object
dtype: object

In [19]:
#checking the average year of respondents
#change birth year data type for easy computation
#change missing values to nan
# print(census.birth_year.unique())
census.birth_year = census.birth_year.replace("missing",1967)
# print(census.birth_year.unique())
#change birth year data type for easy computation
census.birth_year = census.birth_year.astype("int")
#checking mean year
mean_birth_year = int(census.birth_year.mean())

print(mean_birth_year)

1973

In [20]:
# making tax ordinal data
census["higher_tax"] = pd.Categorical(census["higher_tax"],["strongly disagree" , "disagree" , "neutral" , "agree" , "strongly agree"],ordered = True)
print(census["higher_tax"].unique())
# label encode higher tax to find median
census["higher_tax_codes"] = census["higher_tax"].cat.codes
print(census["higher_tax_codes"].median())
# code label marital status
print(census["marital_status"].unique())
census["marital_status"] =pd.Categorical(census["marital_status"],['single' ,'divorced' ,'married' ,'widowed'],ordered = False)
census["marital_codes"] = census["marital_status"].cat.codes
print(census)
#One-Hot encode marital status
census = pd.get_dummies(data = census , columns =["marital_status"])

print(census)

['disagree', 'neutral', 'agree', 'strongly agree', 'strongly disagree']
Categories (5, object): ['strongly disagree' < 'disagree' < 'neutral' < 'agree' < 'strongly agree']
2.0
['single' 'divorced' 'married' 'widowed']
    first_name   last_name  birth_year  voted  num_children  income_year  \
0       Denise       Ratke        2005  False             0     92129.41
1         Hali   Cummerata        1987  False             0     75649.17
2      Salomon         Orn        1992   True             2    166313.45
3       Sarina    Schiller        1965  False             2     71704.81
4         Gust   Abernathy        1945  False             2    143316.08
..         ...         ...         ...    ...           ...          ...
95      Carisa       Hills        1958  False             3    157117.14
96      Tameka     Collins        2001  False             1     61518.34
97       Adams    Leuschke        1987  False             0     41784.87
98  Earnestine     Gutmann        1985   True             4     79021.46
99        Rosa  Runolfsson        1961   True             3     82300.02

           higher_tax marital_status  higher_tax_codes  marital_codes
0            disagree         single                 1              0
1             neutral       divorced                 2              1
2               agree         single                 3              0
3      strongly agree        married                 4              2
4               agree        married                 3              2
..                ...            ...               ...            ...
95              agree        married                 3              2
96  strongly disagree         single                 0              0
97     strongly agree         single                 4              0
98           disagree        widowed                 1              3
99     strongly agree         single                 4              0

[100 rows x 10 columns]
    first_name   last_name  birth_year  voted  num_children  income_year  \
0       Denise       Ratke        2005  False             0     92129.41
1         Hali   Cummerata        1987  False             0     75649.17
2      Salomon         Orn        1992   True             2    166313.45
3       Sarina    Schiller        1965  False             2     71704.81
4         Gust   Abernathy        1945  False             2    143316.08
..         ...         ...         ...    ...           ...          ...
95      Carisa       Hills        1958  False             3    157117.14
96      Tameka     Collins        2001  False             1     61518.34
97       Adams    Leuschke        1987  False             0     41784.87
98  Earnestine     Gutmann        1985   True             4     79021.46
99        Rosa  Runolfsson        1961   True             3     82300.02

           higher_tax  higher_tax_codes  marital_codes  marital_status_single  \
0            disagree                 1              0                      1
1             neutral                 2              1                      0
2               agree                 3              0                      1
3      strongly agree                 4              2                      0
4               agree                 3              2                      0
..                ...               ...            ...                    ...
95              agree                 3              2                      0
96  strongly disagree                 0              0                      1
97     strongly agree                 4              0                      1
98           disagree                 1              3                      0
99     strongly agree                 4              0                      1

    marital_status_divorced  marital_status_married  marital_status_widowed
0                         0                       0                       0
1                         1                       0                       0
2                         0                       0                       0
3                         0                       1                       0
4                         0                       1                       0
..                      ...                     ...                     ...
95                        0                       1                       0
96                        0                       0                       0
97                        0                       0                       0
98                        0                       0                       1
99                        0                       0                       0

[100 rows x 13 columns]

In [21]:
# get age of respondents
now = datetime.datetime.now()
age_f = lambda x: now.year - x
census["age"] = census["birth_year"].apply(age_f)
print(census)
bins= list(range(10,90,5))
print(bins)

census["age_group"] = pd.cut(census.age,bins)
print(census)
census["age_group_labels"] = census["age_group"].cat.codes
print(census["age_group_labels"].unique())

    first_name   last_name  birth_year  voted  num_children  income_year  \
0       Denise       Ratke        2005  False             0     92129.41
1         Hali   Cummerata        1987  False             0     75649.17
2      Salomon         Orn        1992   True             2    166313.45
3       Sarina    Schiller        1965  False             2     71704.81
4         Gust   Abernathy        1945  False             2    143316.08
..         ...         ...         ...    ...           ...          ...
95      Carisa       Hills        1958  False             3    157117.14
96      Tameka     Collins        2001  False             1     61518.34
97       Adams    Leuschke        1987  False             0     41784.87
98  Earnestine     Gutmann        1985   True             4     79021.46
99        Rosa  Runolfsson        1961   True             3     82300.02

           higher_tax  higher_tax_codes  marital_codes  marital_status_single  \
0            disagree                 1              0                      1
1             neutral                 2              1                      0
2               agree                 3              0                      1
3      strongly agree                 4              2                      0
4               agree                 3              2                      0
..                ...               ...            ...                    ...
95              agree                 3              2                      0
96  strongly disagree                 0              0                      1
97     strongly agree                 4              0                      1
98           disagree                 1              3                      0
99     strongly agree                 4              0                      1

    marital_status_divorced  marital_status_married  marital_status_widowed  \
0                         0                       0                       0
1                         1                       0                       0
2                         0                       0                       0
3                         0                       1                       0
4                         0                       1                       0
..                      ...                     ...                     ...
95                        0                       1                       0
96                        0                       0                       0
97                        0                       0                       0
98                        0                       0                       1
99                        0                       0                       0

    age
0    16
1    34
2    29
3    56
4    76
..  ...
95   63
96   20
97   34
98   36
99   60

[100 rows x 14 columns]
[10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85]
    first_name   last_name  birth_year  voted  num_children  income_year  \
0       Denise       Ratke        2005  False             0     92129.41
1         Hali   Cummerata        1987  False             0     75649.17
2      Salomon         Orn        1992   True             2    166313.45
3       Sarina    Schiller        1965  False             2     71704.81
4         Gust   Abernathy        1945  False             2    143316.08
..         ...         ...         ...    ...           ...          ...
95      Carisa       Hills        1958  False             3    157117.14
96      Tameka     Collins        2001  False             1     61518.34
97       Adams    Leuschke        1987  False             0     41784.87
98  Earnestine     Gutmann        1985   True             4     79021.46
99        Rosa  Runolfsson        1961   True             3     82300.02

           higher_tax  higher_tax_codes  marital_codes  marital_status_single  \
0            disagree                 1              0                      1
1             neutral                 2              1                      0
2               agree                 3              0                      1
3      strongly agree                 4              2                      0
4               agree                 3              2                      0
..                ...               ...            ...                    ...
95              agree                 3              2                      0
96  strongly disagree                 0              0                      1
97     strongly agree                 4              0                      1
98           disagree                 1              3                      0
99     strongly agree                 4              0                      1

    marital_status_divorced  marital_status_married  marital_status_widowed  \
0                         0                       0                       0
1                         1                       0                       0
2                         0                       0                       0
3                         0                       1                       0
4                         0                       1                       0
..                      ...                     ...                     ...
95                        0                       1                       0
96                        0                       0                       0
97                        0                       0                       0
98                        0                       0                       1
99                        0                       0                       0

    age age_group
0    16  (15, 20]
1    34  (30, 35]
2    29  (25, 30]
3    56  (55, 60]
4    76  (75, 80]
..  ...       ...
95   63  (60, 65]
96   20  (15, 20]
97   34  (30, 35]
98   36  (35, 40]
99   60  (55, 60]

[100 rows x 15 columns]
[ 1  4  3  9 13 11 12  7  0  6  5  8  2 10 14]